ion-button  {
    /* display:block; */
    height: 50px;
    width: 300px;
    /* border-radius: 50%; */
    border: 1px ;
    /* display: flex; */
    /* justify-content: center; */  
   
    text-align: center;
    }