#map{
    width: 100%;
    height: 100%;
} 
ion-item {
    font-size: 12px;
    --padding-end: 0px;
    --inner-padding-end: 0px;
    
}
ion-list{
    padding: 2px;
}

item-native {
    --padding-end: 0px;
    --inner-padding-end: 0px;
}