<ion-header>
    <ion-toolbar color="primary">
      <ion-title>Profile</ion-title>
      <ion-buttons slot="start">
        <ion-back-button color="warning" defaultHref="/"></ion-back-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>
<ion-content>
    <div class="header">
        <h2> Jayar Canonigo</h2>      
    </div>
    <div class="flex">
        <div class="border-blue">
            <div class="border-white">
                <div class="img-box">
                    <img *ngIf="user?.imageURL" [src]="user?.imageURL" alt="">
                </div>
            </div>
        </div>
    </div>
    <ion-list >  
        <ion-item>
            <ion-icon size="large" slot="start" name="mail-outline"></ion-icon>
            <ion-label>
                jayarcanonigo@yahoo.com.ph
            </ion-label>
        </ion-item>
        <ion-item>
            <ion-icon size="large" slot="start" name="call-outline"></ion-icon>
            <ion-label>
                9085356258
            </ion-label>
        </ion-item>
        <ion-item>
            <ion-icon size="large" slot="start" name="location-outline"></ion-icon>
            <ion-label class="ion-text-wrap">
               {{user?.address?.name}}
            </ion-label>
        </ion-item>
    </ion-list>

</ion-content>