
fab-icon-button {
    height: 70px;
    width: 70px;
}
.cart-icon {
    font-size: 40px;
}
.cart-length {
    color: var(--ion-color-medium );
    position: absolute;
    top: 18px;
    left: 18px;
    font-weight: 600;
    font-size: 1em;
    min-width: 25px;
    z-index: 10;
}

ion-card-content{
    padding: 4px;
}
ion-card-content{
    padding: 0px;
}

.text-color{
    color: #000000;
}