<ion-header [translucent]="true">
  <ion-toolbar color="primary">

    <ion-buttons (click)="logout()" slot="end">

      <ion-icon size="large" name="power-outline"></ion-icon>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-content>
    <ion-router-outlet id="main"></ion-router-outlet>
  </ion-content>

  <ion-tabs>
    <ion-tab-bar color="warning" slot="bottom">
      <ion-tab-button tab="/">
        <ion-icon color="primary" name="home-outline"></ion-icon>
        <ion-label color="primary">Home</ion-label>
      </ion-tab-button>

      <ion-tab-button [routerLink]="['/home/order']">
        <ion-icon color="primary" name="reader-outline"></ion-icon>
        <ion-label color="primary">Order</ion-label>
      </ion-tab-button>

      <ion-tab-button [routerLink]="['/home/profile']">
        <ion-icon color="primary" name="person-outline"></ion-icon>
        <ion-label color="primary">Profile</ion-label>
      </ion-tab-button>

      <ion-tab-button tab="/home/servicelist">
        <ion-icon color="primary" name="construct-outline"></ion-icon>
        <ion-label color="primary">Services</ion-label>
      </ion-tab-button>

      <ion-tab-button tab="stepper-partner">
        <ion-icon color="primary" name="help-circle-outline"></ion-icon>
        <ion-label color="primary">Schedule</ion-label>
      </ion-tab-button>
    </ion-tab-bar>
  </ion-tabs>
</ion-content>