
.profile-image {
    margin-top: 20px;
    width: 100%;   
    height: 200px;
    text-align: center;
    background-position: center;
    background-size: cover;
}

.profile-image img{
    width: 200px;
    
}

.cell-class {    
    padding: 5px;
    margin-left: 5px;
    margin-right: 5px;
    margin-inline-end: 5px;
    text-align: center;
  } 
  .cell-class mat-grid-tile{
    border-color: lightgrey; 
      width: 102px;
      height: 102px;
      border-width: thin;
      border-style:solid;
  }
  .cell-class mat-card-image{
    max-width: 100%;
    height: auto;
  }

  .grid_dashboard{
      margin-bottom:5px;
  }




  