<ion-header [translucent]="true">
    <ion-toolbar color="medium">
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
      <ion-title>Service</ion-title>
    </ion-toolbar>
  </ion-header>

    <ion-fab vertical="bottom" horizontal="end" slot="fixed">  
      <ion-fab-button color="dark" routerLink="/home/category">  
        <ion-icon name="add"></ion-icon>  
      </ion-fab-button>  
    </ion-fab>  
    
    <ion-content padding>
        <h3 *ngIf="files.length == 0" text-center>Please Select Image!</h3>       
        <ion-list>
          <ion-item button [routerLink]="['/home/category', img.id]"  *ngFor="let img of ( files | async)" text-wrap>
            <ion-thumbnail slot="start">
              <ion-img [src]="img.url"></ion-img>
            </ion-thumbnail>
            <ion-label>
              {{ img.name }}
            </ion-label>           
          </ion-item>
        </ion-list>
      </ion-content>
  